

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        div.layout {
            background-color: lightgray;
        }

        div.view {
            border: thin solid black;
            margin: 10px 0;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("Header")
    <div class="layout">
        This is part of the layout
    </div>
    @RenderSection("Body")
    <div class="layout">
        This is part of the layout
    </div>
    @RenderSection("Footer")
    <div class="layout">
        This is part of the layout
    </div>

    @* 判断是否包含指定分段 *@
    @*@if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer");
    }
    else
    {
        <h4>This is the default footer</h4>
    }*@
    @* 渲染可选分段,有即渲染，没有则不渲染 *@
    @RenderSection("scripts",false)
</body>
</html>
